%td{:valign => "botom", :align => "right"}
  - if can? :read, project
    = link_to project.name, project_path(project.id)
  - else
    = project.name
- metric_names.each do |metric_name|
  %td
    %a.detail-link{href:"/projects/#{project.id}/metrics/#{metric_name}/detail", style: 'width:100%;height:100%;'}
      %div.chart_place{:id => "project-#{project.id}-#{@display_type}-#{metric_name}"}
