%div.col-md-2
  %div.metric_overview
    %h4
      Metric
    %p
      %strong
        = METRIC_NAMES[@metric_name.to_sym]
    %h4
      Team
    %p
      %strong
        = link_to @project.name, project_path(@project.id)
    %h4
      Score Trend
    %div.chart_place{id: "project-#{@project.id}-series-#{@metric_name}",
                     d: "#{@project.metric_on_date(@metric_name, Date.today).last.to_json}",
                     s: "#{@project.metric_series(@metric_name, Date.today).to_json}"}
    = link_to 'Return', project_path(@project.id), class: 'btn btn-default'
%div.col-md-8
  - @samples.each do |m|
    %div.container{style: 'padding: 10px'}
      %div.col-md-3{style: 'text-align:right'}
        = m.created_at.strftime('%Y-%m-%d %I%p')
      %div.col-md-1
        %span{class: "label #{score_label(m)}"}
          = m.score.round(2)
      %div.col-md-8{style: 'text-align:center'}
        %div.chart_place{id: "project-#{@project.id}-metric-#{@metric_name}-#{hours_ago(m.created_at)}",
                         d: "#{m.to_json}",
                         s: "#{@project.metric_series(@metric_name, m.created_at).to_json}"}
