<div class="col-md-6">
  <div class="text-5xl text-black"><%= @project.name %></div>
</div>
<div class="col-md-6 float-right">
  <%= link_to 'Config', edit_project_path(@project), class: 'btn btn-default' %>
</div>

<%- if @project.current_iteration %>
  <p><%= "You are at #{@project.current_iteration.name}" %></p>
<% end %>

<div>
  <h2>Quality Metrics</h2>
  <%- %I[code_climate test_coverage travis_ci heroku_status point_distribution].each do |metric_name| %>
    <div class="col-md-12 my-2 py-5 border-2 border-blue-light">
      <div class="col-md-3">
        <%= metric_name.to_s.humanize %>
      </div>
      <div class="col-md-6 text-center">
        <%= render partial: 'metric',
                   locals: { project: @project, metric_name: metric_name, days_from_now: @days_from_now } %>
      </div>
      <div class="col-md-3">
        <%- latest_metric = @project.metric_on_date(metric_name, Date.today - @days_from_now.days).last %>
        <%- if latest_metric %>
          Score: <%= @project.metric_on_date(metric_name, Date.today - @days_from_now.days).last.score %>
        <% end %>
      </div>

    </div>

  <% end %>
</div>
