<div class="col-sm-3 col-md-3 ">
  <div class="thumbnail">
    <div class="caption">
      <h3>Create New Task</h3>
      <%= form_tag("/iterations/create_task", method: "post") do %>

          <table>
            <tbody>
            <tr>
              <td><%= label_tag(:title, "Name:") %></td>
              <td>
                <%=select_tag :title, options_for_select(task_titles.collect{ |u| [u, u] })%>
              </td>
            </tr>
            <tr>
              <td><%= label_tag(:description, "Description:") %></td>
              <td><%= text_field_tag(:description) %></td>
            </tr>
            </tbody>
          </table>
          <%= hidden_field_tag :iteration_id, @iteration.id %>
          <%= hidden_field_tag :updater_type, updater_type %>
          <%= submit_tag "Create Task" , class: "btn btn-default", role: "button"%>
      <% end %>
    </div>
  </div>
</div>