<%- task = Task.find(node) %>
<td>
  <div class="card">
    <div class="card-header <%="task-#{task.task_status}"%>" >
        <%= task.title%>
    </div>
    </div>
    <div class="card-block">
      <a href="/tasks/<%= task.id %>" class="card-link" >See More</a>
      <a href = "/iteration_task/<%= @iteration.id %>/task/<%= task.id %>" action = 'put' class="card-link" >Update</a>
    </div>
  </div>
</td>
