<div class="col-sm-2 col-md-2">
  <div class="thumbnail">
    <div class="caption">
      <div><span class="label <%="task-#{node.task_status}"%>"><%="#{node.task_status}"%></span></div>
      <h3><%= node.title%></h3>
      <!-- Modal -->
      <div class="modal fade" id="myModal<%="#{node.id}"%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel"><%= node.title%></h4>
            </div>
            <div class="modal-body">
              <%= node.description %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <p>
        <!-- Button trigger modal -->
        <button type="button" class="card-link btn btn-sm" data-toggle="modal" data-target="#myModal<%="#{node.id}"%>">
          details
        </button>
        <% if @editable %>
            <a><%= link_to "Delete", iteration_delete_task_path( {task_id: node.id, iteration_id:iteration.id} ), class:"card-link btn btn-sm", type:"button"%> </a>
          <!-- Button trigger modal -->
          <button type="button" class="card-link btn btn-sm" data-toggle="modal" data-target="#myModal1">
            edit
          </button>

          <!-- Modal -->
          <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel"><%= node.title%></h4>
                </div>
                <div class="modal-body">
                  <%= form_tag("/iterations/create_task", method: "post") do %>
                      <table>
                        <tbody>
                        <tr>
                          <td><%= label_tag(:title, "Name:") %></td>
                          <td>
                            <%=select_tag :title, options_for_select(task_titles.collect{ |u| [u, u] })%>
                          </td>
                        </tr>
                        <tr>
                          <td><%= label_tag(:description, "Description:") %></td>
                          <td><%= text_field_tag(:description) %></td>
                        </tr>
                        </tbody>
                      </table>
                      <%= hidden_field_tag :iteration_id, @iteration.id %>
                      <%= hidden_field_tag :updater_type, updater_type %>
                      <%= submit_tag "Edit" , class: "card-link btn btn-sm", role: "button"%>
                  <% end %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                </div>
              </div>
            </div>
        <% end %>
      </p>
    </div>
  </div>
</div>
