<%- task = Task.find(node) %>
<td>
  <div class="card">
    <div class="card-header <%="task-#{task.task_status}"%>" >
        <%= task.title%>
    </div>
    <div id="description-<%= task.id %>" class="collapse">
      <div class="card-block">
        <%= task.description %>
      </div>
    </div>
    </div>
    <div class="card-block">
      <button type="button" class="card-link" data-toggle="collapse" data-target="#description-<%= task.id %>">See More</button>
      <a href = "/iteration_task/<%= @iteration.id %>/task/<%= task.id %>" action = 'put' class="card-link" >Update</a>
    </div>
  </div>
</td>
