<div>
  <h3  class="text-info">Requesting Features</h3>
  <div class="row">
    <% @requestingTasks.each do |task| %>
        <%= render partial: 'task_card', locals: {node: task, iteration: @iteration,updater_type: 'requesting',task_titles: @requestingTitles}%>
    <% end %>
    <% if @editable %>
        <%= render partial: 'create_task_template',locals: {updater_type: 'requesting', task_titles: @requestingTitles}%>
    <% end %>
  </div>
</div>
<div>
  <h3  class="text-info">Development Task</h3>
  <div class="row">
    <% @planningTasks.each do |task| %>
        <%= render partial: 'task_card', locals: {node: task, iteration: @iteration,updater_type: 'planning', task_titles: @planningTitles}%>
    <% end %>
    <% if @editable %>
        <%= render partial: 'create_task_template',locals: {updater_type: 'planning', task_titles: @planningTitles}%>
    <% end %>
  </div>
</div>
<div>
  <h3  class="text-info">Post Task</h3>
  <div class="row">
    <% @executionTasks.each do |task| %>
        <%= render partial: 'task_card', locals: {node: task, iteration: @iteration,updater_type: 'execution', task_titles: @executionTitles}%>
    <% end %>
    <% if @editable %>
        <%= render partial: 'create_task_template',locals: {updater_type: 'execution', task_titles: @executionTitles}%>
    <% end %>
  </div>
</div>
<div>
  <h3  class="text-info">Post Task</h3>
  <div class="row">
    <% @deliveringTasks.each do |task| %>
        <%= render partial: 'task_card', locals: {node: task, iteration: @iteration,updater_type: 'delivering', task_titles:@deliveringTitles}%>
    <% end %>
    <% if @editable %>
        <%= render partial: 'create_task_template',locals: {updater_type: 'delivering', task_titles: @deliveringTitles}%>
    <% end %>
  </div>
</div>
