<div>
  <h3  class="text-info">Requesting Features</h3>
  <div class="row">
    <% @tasks[:requestingTasks].each do |task| %>
        <%= render partial: 'task_card', locals: {node: task, updater_type: 'requesting',task_titles: @titles[:requestingTitles]}%>
    <% end %>
    <% if @editable %>
        <%= render partial: 'create_task_template',locals: {updater_type: 'requesting', task_titles: @titles[:requestingTitles]}%>
    <% end %>
  </div>
</div>
<div>
  <h3  class="text-info">Development Task</h3>
  <div class="row">
    <% @tasks[:planningTasks].each do |task| %>
        <%= render partial: 'task_card', locals: {node: task, updater_type: 'planning', task_titles: @titles[:planningTitles]}%>
    <% end %>
    <% if @editable %>
        <%= render partial: 'create_task_template',locals: {updater_type: 'planning', task_titles: @titles[:planningTitles]}%>
    <% end %>
  </div>
</div>
<div>
  <h3  class="text-info">Post Task</h3>
  <div class="row">
    <% @tasks[:executionTasks].each do |task| %>
        <%= render partial: 'task_card', locals: {node: task, updater_type: 'execution', task_titles: @titles[:executionTitles]}%>
    <% end %>
    <% if @editable %>
        <%= render partial: 'create_task_template',locals: {updater_type: 'execution', task_titles: @titles[:executionTitles]}%>
    <% end %>
  </div>
</div>
<div>
  <h3  class="text-info">Post Task</h3>
  <div class="row">
    <% @tasks[:deliveringTasks].each do |task| %>
        <%= render partial: 'task_card', locals: {node: task, updater_type: 'delivering', task_titles:@titles[:deliveringTitles]}%>
    <% end %>
    <% if @editable %>
        <%= render partial: 'create_task_template',locals: {updater_type: 'delivering', task_titles: @titles[:deliveringTitles]}%>
    <% end %>
  </div>
</div>
