<!doctype html>
<html lang="en">
<body>
<%= render partial: 'dashboard_sidebar' %>
<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="text-success">Iteration Generating</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <%= form_tag("/iterations/apply_to_all", method: "post") do %>
            <div class="btn-group mr-2">
              <%=select_tag "apply_all", options_for_select(@iterations.collect{ |iter| [iter.name, iter.id] })%>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
              View Template
            </button>
            <%= submit_tag "Apply to all" , class: "btn btn-sm btn-outline-secondary dropdown-toggle", role: "button"%>
          <%end%>
          <a class="btn btn-sm btn-outline-secondary dropdown-toggle" href="/iterations/new" role="button">Create New Template</a>
        </div>
      </div>
      <%= render partial: 'plain_tasks_graph' , locals: {tasks: @tasks}%>
      <button name = "apply_all_button" type = "submit" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        Apply to All
      </button>
      <h2 class="text-secondary">Projects Template Assignment</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Project</th>
              <th>Status</th>
              <th>Template</th>
              <th>Apply</th>
            </tr>
          </thead>
          <tbody>
          <% @projects.each do |project| %>
              <tr>
                <td><%=project.name%></td>
                <td>unassigned</td>
                <td><%=select_tag :apply_iter, options_for_select(@iterations.collect{ |iter| [iter.name, iter.id] })%></td>
                <td><button class="btn btn-sm btn-outline-secondary">Apply</button></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
</body>
</html>