<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Projects</a></li>
  <li class="active">Iteration 1</li>
</ol>
<div class="page-header">
  <h1> Tasks Graph <small>Audience 1st</small></h1>
</div>
<div>
  <section id="timeline">
    <%= render partial: 'section_card', locals: {section_title: "Preliminary", danger_percentage:@predan, success_percentage:@prepercent}%>
    <% @preliminaryTasks.each do |task| %>
        <article>
          <%= render partial: 'show_task_card', locals: {node: task, updater_type: "preliminary", task_titles: @pretaskTitles}%>
        </article>
        <article>
          <div class="inner">
            <span class="date"></span>
              <h3 class = "card-deadline">
                05 Jan, Tuesday
              </h3>
          </div>
        </article>
    <% end %>
    <article>
      <%= render partial: 'show_task_card_create', locals: {updater_type: "preliminary", task_titles: @pretaskTitles}%>
    </article>
    <%= render partial: 'section_card', locals: {section_title: "Development", danger_percentage:@devpercent, success_percentage:@devdan}%>
    <% @devTasks.each do |task| %>
        <article>
          <%= render partial: 'show_task_card', locals: {node: task, updater_type: "development", task_titles: @devtaskTitles}%>
        </article>
        <article>
          <div class="inner">
            <span class="date"></span>
            <h3 class = "card-deadline">
              05 Jan, Tuesday
            </h3>
          </div>
        </article>
    <% end %>
    <article>
      <%= render partial: 'show_task_card_create', locals: {updater_type: "devlopment", task_titles: @devtaskTitles}%>
    </article>
    <%= render partial: 'section_card', locals: {section_title: "Post", danger_percentage:@postpercent, success_percentage: @postdan}%>
    <% @postTasks.each do |task| %>
        <article>
          <%= render partial: 'show_task_card', locals: {node: task, updater_type: "post", task_titles: @postaskTitles}%>
        </article>
        <article>
          <div class="inner">
            <span class="date"></span>
            <h3 class = "card-deadline">
              05 Jan, Tuesday
            </h3>
          </div>
        </article>
    <% end %>
    <article>
      <%= render partial: 'show_task_card_create', locals: {updater_type: "post", task_titles: @postaskTitles}%>
    </article>
  </section>
</div>